<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Super Admin Dashbaord</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'vendors', companies_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'users', users_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign out', destroy_admin_session_path, method: :delete, class: 'nav-link' if current_admin %>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Logged in Admin: <%= current_admin.email %></a>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>
