<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if current_admin %>
  <%= form.hidden_field :role, value: 'admin' %>
  <% elsif current_user.role == 'admin' %>
  <%= form.label :role %>
  <%= form.select(:role, User::ROLES) %>
  <% else %>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <% if current_admin %>
  <div class="field">
    <%= form.label :company_id %>
    <%= form.collection_select :company_id, Company.order(:name),:id,:name, include_blank: false %>
  </div>
    <% elsif current_user.role == 'admin' %>
    <%= form.hidden_field :company_id, value: current_user.company_id %>
    <% else %>
    <% end %>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
