<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Belongs to Company</th>
      <th>User Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <% if (can? :manage, User) || (current_admin)  %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= link_to user.company.name, company_path(user.company.id) %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% else %>
      <h3>sorry ! you don't have permission</h3>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<% if (can? :manage, User) || (current_admin)  %>
<%= link_to 'New User', new_user_path %>
<% end %>
