<% if admin_signed_in? %>
<h1>Welcome To HURAPOS !</h1><br>
<h3>You've signed into super admin area</h3>
<% elsif user_signed_in? %>
<h1>Welcome To HURAPOS !</h1><br>
<h3>You've signed into customer area</h3><br>
<h5>User Roles for Hurapos Customer:</h5>
<h6>Admin: can manage all</h6>
<h6>Marketing: can manage Products</h6>
<h6>Moderator: can only view all</h6>
<% else %>
<h1>Welcome To HURAPOS !</h1><br>
<h3>Please Login</h3>
<%= link_to 'super admin login', new_admin_session_path  %> <br>
<%= link_to 'customer login', new_user_session_path  %>
<% end %>
