<!DOCTYPE html>
<html>
  <head>
    <title>MultiTenantProto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
    <%= render 'partials/admin_dashboard' %>
    <% elsif user_signed_in? %>
    <%= render 'partials/user_dashboard' %>
    <% else %>
    <%= yield %>
    <% end %>
  </body>
</html>
